@charset "UTF-8";
/* кольори Studio і Portfolio сторінка */
/* кольори Portfolio сторінка */
/* шрифти*/
/* --color-test:#afb1b8; */
/*   шрифт лого
  font-family: 'Raleway';
  font-weight: 700;

  шрифт сторінки студио
  font-family: Roboto;
  font-weight: 400,500,700,900;
 */
/* переходи для анімації ховера і фокуса */
body {
  background-color: rgb(255, 255, 255);
  color: rgb(117, 117, 117);
  font-family: "Roboto", sans-serif;
  /* font-style: normal;*/
  /*font-weight: 400;*/
  letter-spacing: 0.03em;
}

/*reset*/
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*reset*/
.container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* outline: 2px solid tomato; */
}

/* ховаємо заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.subtitle {
  color: rgb(33, 33, 33);
}

.radio-btn,
.button {
  cursor: pointer;
}

.img {
  margin: 0px;
}

.text {
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 50px;
  /* outline: 2px solid tomato; */
}

.title-secondary {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.button {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: transparent;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 93px;
}

.nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav__logo--left {
  color: rgb(33, 150, 243);
}

.nav__logo--right {
  color: rgb(0, 0, 0);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  /* outline: 2px solid tomato; */
}

.navigation__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: rgb(33, 33, 33);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid rgb(71, 255, 240); */
}
.navigation__link:hover, .navigation__link:focus {
  color: rgb(33, 150, 243);
}

.navigation__item {
  position: relative;
}

.navigation__current {
  color: rgb(33, 150, 243);
}
.navigation__current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
}

.address-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  gap: 50px;
}

.address-head__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  /* outline: 2px solid rgb(71, 255, 240); */
}

.navigation__link--font,
.address-head__link--font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-head__link--color {
  color: rgb(117, 117, 117);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-head__link--color:hover, .address-head__link--color:focus {
  color: rgb(33, 150, 243);
}

.address-head__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid tomato; */
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(47, 48, 58);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* outline: 2px solid tomato; */
}

.footer-contacts {
  display: inline-block;
  /* outline: 2px solid tomato; */
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  /* outline: 2px solid rgb(229, 189, 181); */
}

.footer-address__link-contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link-contacts:hover, .footer-address__link-contacts:focus {
  color: rgb(33, 150, 243);
}

.footer-address__link-address {
  color: rgb(255, 255, 255);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link-address:hover, .footer-address__link-address:focus {
  color: rgb(33, 150, 243);
}

.footer-address__item {
  margin-bottom: 9px;
}

.footer-address__item:last-child {
  margin-bottom: 0px;
}

.footer-contacts__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-contacts__logo--left {
  color: rgb(33, 150, 243);
}

.footer-contacts__logo--right {
  color: rgb(255, 255, 255);
}

.footer__title {
  padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  /* outline: 2px solid tomato; */
}

/*footer social*/
.footer-social {
  margin-left: 70px;
  margin-right: 93px;
  /* outline: 2px solid rgb(229, 189, 181); */
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  gap: 10px;
  /* outline: 2px solid rgb(71, 255, 83); */
}

.footer-social__item {
  display: inline-block;
  width: 44px;
  height: 44px;
  /* outline: 2px solid rgb(224, 83, 22); */
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: transparent;
  margin-right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid rgb(224, 22, 130); */
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: rgb(33, 150, 243);
}

.footer-social__img {
  width: 22px;
  height: 22px;
  fill: rgb(255, 255, 255);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid rgb(71, 255, 102); */
}
.footer-social__img:hover, .footer-social__img:focus {
  fill: rgb(255, 255, 255);
}

/* footer form */
.form-signup {
  display: inline-block;
}

.signup-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.signup-input__mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height, or 125% */
  color: rgba(255, 255, 255, 0.6);
}
.signup-input__mail::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  /* identical to box height, or 125% */
  color: rgba(255, 255, 255, 0.6);
}
.signup-input__mail::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  /* identical to box height, or 125% */
  color: rgba(255, 255, 255, 0.6);
}
.signup-input__mail:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  /* identical to box height, or 125% */
  color: rgba(255, 255, 255, 0.6);
}
.signup-input__mail::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  /* identical to box height, or 125% */
  color: rgba(255, 255, 255, 0.6);
}
.signup-input__mail::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  /* identical to box height, or 125% */
  color: rgba(255, 255, 255, 0.6);
}

.signup-input__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.signup-input__icon {
  padding: 0;
  margin-left: 10px;
}

/*HERO*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(47, 48, 58);
  color: rgb(255, 255, 255);
  text-align: center;
  /* for backgrond img */
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/HeroBCG.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/HeroBCG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* outline: 2px solid rgb(43, 19, 115); */
}

.hero__container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
  /* outline: 2px solid tomato; */
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  min-height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  display: inline-block;
  min-width: 152px;
  min-height: 30px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*HERO*/
/*all sections*/
.our-priority {
  padding-top: 94px;
  /* outline: 2px solid tomato; */
}

.our-work,
.our-command,
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}

/*h3 in our-priority and our-work*/
.our-priority__subtitle,
.our-work__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* all sections*/
/*our priority*/
.our-priority__subtitle--bottom {
  margin-bottom: 10px;
}

.our-priority__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.our-priority__item {
  width: calc((100% - 90px) / 4);
}

.our-priority__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  /* outline: 2px solid tomato; */
}

.our-priority__icon {
  display: block;
}

/*our-work*/
.our-command {
  background-color: rgb(245, 244, 250);
}

.our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.our-work__item {
  display: block;
  position: relative;
}

.our-work__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

/*command*/
.list-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  /* outline: 2px solid tomato; */
}

/*social*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
  background-color: rgb(255, 255, 255);
  /* outline: 2px solid tomato; */
}

.social__item {
  width: 44px;
  height: 44px;
  /* outline: 2px solid rgb(224, 83, 22); */
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid rgb(224, 22, 130); */
}
.social__link:hover, .social__link:focus {
  background-color: rgb(33, 150, 243);
}

.social__img {
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid rgb(71, 255, 102); */
}
.social__link:hover .social__img, .social__link:focus .social__img {
  fill: rgb(255, 255, 255);
}

.list-portfolio__text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  /* outline: 2px solid tomato; */
}

/*h3 in our-command*/
.list-portfolio__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.list-portfolio__item {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-portfolio__profession {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/*clients*/
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  border-radius: 4px;
  /* outline: 2px solid tomato; */
}

.clients__item {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  /* outline: 2px solid rgb(71, 255, 157); */
}

.clients__link {
  display: block;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:focus, .clients__link:hover {
  border-color: rgb(33, 150, 243);
}

.clients__icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: rgb(175, 177, 184);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:focus .clients__icon, .clients__link:hover .clients__icon {
  fill: rgb(33, 150, 243);
}

/*clients*/
/*  for modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: rotateY(20deg) rotateX(35deg) translate(-50px, -50px) skew(-35deg, 10deg);
          transform: rotateY(20deg) rotateX(35deg) translate(-50px, -50px) skew(-35deg, 10deg);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
          transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
  opacity: 1;
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__icon-close {
  fill: rgb(0, 0, 0);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:focus .modal__icon-close, .modal__btn-close:hover .modal__icon-close {
  fill: rgb(33, 150, 243);
}

.modal-form {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 40px;
}

.modal-form__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}

/*group inputs*/
.set-form {
  display: block;
  width: 100%;
  margin-top: 12px;
  margin-left: auto;
  margin-left: auto;
}

.set-form__label {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.set-form__label:focus-within input, .set-form__label:focus-within textarea {
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgb(33, 150, 243);
}

.set-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid rgb(71, 255, 102); */
}

.set-form__textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.set-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.set-form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.set-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.set-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.set-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.set-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: rgb(0, 0, 0);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.set-form__label:focus-within .set-form__icon {
  fill: rgb(33, 150, 243);
}

/*group inputs*/
/* Checkbox */
.modal__check-policy {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal__label-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  /* outline: 2px solid rgb(71, 255, 102); */
}

.modal__icon-policy {
  padding: 0;
  margin-right: 8px;
  background-color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  border: 2px solid rgb(33, 33, 33);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check-policy:checked + .modal__icon-policy {
  background-color: rgb(33, 150, 243);
  fill: rgb(255, 255, 255);
  border-color: transparent;
  background-origin: border-box;
}

.modal__link-policy {
  display: inline-block;
  padding-left: 4px;
  color: rgb(33, 150, 243);
}

/*Checkbox*/
/*button*/
.modal__btn-send {
  display: block;
  max-width: 200px;
  max-height: 50px;
  padding: 10px 52px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}

.filter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter__radio-button {
  display: inline-block;
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__radio-button:hover, .filter__radio-button:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* list card */
.card {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(238, 238, 238);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card--position {
  /* width: calc((100%-60px) / 3); */
  width: 370px;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.card--position:nth-child(3n) {
  margin-right: 0px;
}
.card--position:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

/*overlay*/
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid rgb(71, 255, 135); */
}
.card:hover .card__overlay, .card:focus .card__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card__overlay-img {
  position: relative;
  overflow: hidden;
  /* outline: 2px solid tomato; */
}

.card__overlay-text {
  display: inline-block;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  /* outline: 2px solid rgb(221, 255, 71); */
}

/*overlay*/
.card__title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.card__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}/*# sourceMappingURL=main.css.map */