.header {
  border-bottom: 1px solid $color-border-bottom-header;
}
.container-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 93px;
}
.nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav__logo--left {
  color: $color-blue;
}
.nav__logo--right {
  color: $color-logo--right;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* outline: 2px solid tomato; */
}
.navigation__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: $color-text-header;

  transition: color $speed-link $cubick-link;
  &:hover,
  &:focus {
    color: $color-blue;
  }
  /* outline: 2px solid rgb(71, 255, 240); */
}

.navigation__item {
  position: relative;
}

.navigation__current {
  color: $color-blue;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background-color: $color-blue;
    border-radius: 2px;
  }
}

.address-head {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  gap: 50px;
}
.address-head__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  /* outline: 2px solid rgb(71, 255, 240); */
}

.navigation__link--font,
.address-head__link--font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-head__link--color {
  color: $color-text-prime;

  transition: color $speed-link $cubick-link;
  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.address-head__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill $speed-link $cubick-link;
  /* outline: 2px solid tomato; */
}
