.header {
  border-bottom: 1px solid $color-border-bottom-header;
}
.container-header {
  // display: inline-block;
  // min-width: 480px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 768px;
  }
  //
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  /* outline: 2px solid tomato; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    gap: 93px;
  }
}
.nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28px / 24px);
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.nav__logo--left {
  color: $color-blue;
}
.nav__logo--right {
  color: $color-logo--right;
}
.container-header .navigation,
.container-header .address-head {
  @media screen and (max-width: 767px) {
    display: none;
  }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  // }
  /* outline: 2px solid tomato; */
}
.container-header .address-head {
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 50px;
  }
}

.container-header .navigation {
  @media screen and (min-width: 768px) {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  /* outline: 2px solid tomato; */
}
.navigation__link {
  display: block;
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  color: $color-text-header;

  transition: color $speed-link $cubick-link;
  &:hover,
  &:focus {
    color: $color-blue;
  }
  /* outline: 2px solid rgb(71, 255, 240); */
}

.container-header .navigation__item {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.navigation__current {
  color: $color-blue;

  @media screen and (min-width: 768px) {
    .container-header &::after {
      position: absolute;
      left: 0;
      bottom: 0;

      content: "";
      display: block;
      width: 100%;
      height: 4px;

      background-color: $color-blue;
      border-radius: 2px;
    }
  }
}

.header .address-head__item {
  display: block;
  margin-bottom: 0px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}
.header .address-head__item:last-child {
  @media screen and (max-width: 1199px) {
    margin-bottom: 0px;
  }
  // position: relative;
}

.address-head__link {
  display: block;
  padding: 0;
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  /* outline: 2px solid rgb(71, 255, 240); */
}

.container-header .navigation__link--font {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
}

.container-header .address-head__link--font {
  font-weight: 500;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14px / 12px);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.address-head__link--color {
  color: $color-text-prime;

  transition: color $speed-link $cubick-link;
  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.address-head__icon {
  // display: none;
  margin-right: 8px;
  fill: currentColor;
  transition: fill $speed-link $cubick-link;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
  /* outline: 2px solid tomato; */
}
