/*HERO*/
.hero {
  display: flex;
  justify-content: center;

  max-width: 1600px;
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
  }

  background-color: $color-background-black;
  color: $color-white;

  text-align: center;

  /* for backgrond img */
  @media screen and (max-width: 479px) {
    background-image: linear-gradient(
        to right,
        $color-hero-bcg,
        $color-hero-bcg
      ),
      url("../images/Headerimg_480@1x-min.jpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $color-hero-bcg,
          $color-hero-bcg
        ),
        url("../images/Headerimg_480@2x-min.jpg");
    }
  }
  @media screen and (min-width: 480px) {
    background-image: linear-gradient(
        to right,
        $color-hero-bcg,
        $color-hero-bcg
      ),
      url("../images/Headerimg_768@1x-min.jpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $color-hero-bcg,
          $color-hero-bcg
        ),
        url("../images/Headerimg_768@2x-min.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        $color-hero-bcg,
        $color-hero-bcg
      ),
      url("../images/Headerimg_1600@1x-min.jpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $color-hero-bcg,
          $color-hero-bcg
        ),
        url("../images/Headerimg_1600@2x-min.jpg");
    }
  }

  // outline: 2px solid rgb(43, 19, 115);
}

.hero__container {
  // padding-top: 118px;
  // padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  @media screen and (max-width: 340px) {
    padding-top: auto;
    padding-bottom: auto;
  }
  @media screen and (min-width: 340px) and (max-width: 479px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 480px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  // outline: 2px solid rgb(71, 255, 92);
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42px / 26px);

  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  height: 84px;
  margin-bottom: 30px;

  // змінила на max-width 02.12
  @media screen and (max-width: 479px) {
    max-width: 360px;
  }
  @media screen and (min-width: 480px) {
    width: 360px;
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    height: 120px;

    font-size: 44px;
    line-height: calc(60px / 44px);
  }
  // outline: 2px solid tomato;
}

.hero__btn {
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 24px;

  border-radius: 4px;
}
/*HERO*/

/*all sections*/
.our-priority {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
  /* outline: 2px solid tomato; */
}
.our-command,
.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  /* outline: 2px solid tomato; */
}

/*h3 in our-priority and our-work*/
.our-priority__subtitle,
.our-work__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16px / 14px);
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
/* all sections*/

/*our priority*/
.our-priority__subtitle--bottom {
  margin-bottom: 10px;
}

.our-priority__list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
.our-priority__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
.our-priority__img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: $color-background-grey;
  /* outline: 2px solid tomato; */
}
.our-priority__icon {
  display: block;
}

/*our-work*/
.our-work {
  display: none;
  // @media screen and (min-width: 768px) {
  //   padding-top: 60px;
  // }
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  /* outline: 2px solid tomato; */
}

.our-work__list {
  display: flex;
  gap: 30px;
}
.our-work__item {
  display: block;
  position: relative;
}
.our-work__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.our-work__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $color-white;
}

/*command*/
.our-command {
  background-color: $color-background-grey;
}

.list-portfolio {
  // display: block;
  // @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  // }
  /* outline: 2px solid tomato; */
}
.list-portfolio__item {
  background-color: $color-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // max-width: 450px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    // width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);
  }
}
.list-portfolio__text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: $color-white;
  /* outline: 2px solid tomato; */
}
/*h3 in our-command*/
.list-portfolio__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.list-portfolio__profession {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-align: center;
}

/*social*/
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  background-color: $color-white;
  /* outline: 2px solid tomato; */
}
.social__item {
  width: 44px;
  height: 44px;
  /* outline: 2px solid rgb(224, 83, 22); */
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $color-white;

  transition: background-color $speed-link $cubick-link;
  /* outline: 2px solid rgb(224, 22, 130); */
  &:hover,
  &:focus {
    background-color: $color-blue;
  }
}

.social__img {
  fill: $color-icon;
  transition: fill $speed-link $cubick-link;
  /* outline: 2px solid rgb(71, 255, 102); */
  .social__link:hover &,
  .social__link:focus & {
    fill: $color-white;
  }
}

/*clients*/
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  // margin-top: 50px;
  border-radius: 4px;
  /* outline: 2px solid tomato; */
}
.clients__item {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: calc((100% - 30px) / 2);
  @media screen and (min-width: 480px) {
    width: calc((480px - 30px * 2) / 2);
  }

  @media screen and (min-width: 768px) {
    width: calc((768px - 30px * 3) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((1200px - 30px * 6) / 6);
  }

  /* outline: 2px solid rgb(71, 255, 157); */
}

.clients__link {
  border: 1px solid $color-icon;
  border-radius: 4px;

  transition: border-color $speed-link $cubick-link;
  &:focus,
  &:hover {
    border-color: $color-blue;
  }

  // @media screen and (max-width: 479px) {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-left: auto;
  // padding-right: auto;
  // }
  @media screen and (min-width: 480px) {
    // display: block;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 52px;
    padding-right: 52px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.clients__icon {
  display: block;
  width: 106px;
  height: 60px;

  fill: $color-icon;

  transition: fill $speed-link $cubick-link;
  .clients__link:focus &,
  .clients__link:hover & {
    fill: $color-blue;
  }
}
/*clients*/
