body {
  background-color: $color-white;
  color: $color-text-prime;
  font-family: "Roboto", sans-serif;
  /* font-style: normal;*/
  /*font-weight: 400;*/
  letter-spacing: 0.03em;
}

/*reset*/
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*reset*/
.container {
  max-width: 480px;
  padding: 0px 15px;

  @media screen and (min-width: 768px) {
    margin: 0px auto;
    max-width: 768px;
  }
  @media screen and (min-width: 1600px) {
    max-width: 1200px;
  }
  /* outline: 2px solid tomato; */
}
/* ховаємо заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.subtitle {
  color: $color-text-header;
}
.radio-btn,
.button {
  cursor: pointer;
}
.img {
  display: block;
  margin: 0px;
  max-width: 100%;
  height: auto;
}
.text {
  font-size: 14px;
  line-height: 1.71;
}
.section-title {
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 50px;

  /* outline: 2px solid tomato; */
}

.title-secondary {
  font-size: 28px;
  line-height: calc(33px / 28px);
  text-align: center;
  @media screen and (min-width: 1600px) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.button {
  background-color: $color-blue;
  color: $color-white;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30px / 16px);
  letter-spacing: 0.06em;

  border-color: transparent;
}
